/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}
body{
    background: #FAFAF9;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(214, 214, 214);
}

.container img{
    width: 336px;
    margin: 16px;
    border-radius: 10px;
}

.container .catagory{
    margin:  16px;
    margin-top: 0;
    padding: 5px 20px;
    font-size: 0.625rem;
    font-weight: 700;
    background-color: #E6D6FC;
    color: #883AE1;
    width: fit-content;
    border-radius: 50px;
}

.container .title{
    font-size: 1.125rem;
    margin: 0 0 6px 16px;
}

.container .description{
    font-size: 0.75rem;
    width: 90%;
    color: #6C727F;
    margin: 0 0 20px 16px;
    width: 336px;
}
.container .author{
    font-size: 0.75rem;
    
    color: #6C727F;
    margin: 20px 0 20px 16px;
}